<mat-sidenav-container class="drawer">
  <mat-sidenav
    class="sidebar"
    #snav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    opened
  >
    <mat-list>
      <mat-list-item matListItemTitle>
        <div class="title">
          <h4>LISTS</h4>
          <button
            (click)="openCreateListDialog()"
            mat-mini-fab
            color="primary"
            aria-label="add list"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-list-item>

      <mat-list-item>
        <button routerLink="table" style="width: 100%" mat-flat-button>
          All Tasks
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>

      @for (list of lists | async; track list.id) {
      <mat-list-item>
        <button
          (click)="changeOpenedCategory(list.id)"
          style="width: 100%"
          mat-flat-button
          [color]="list.id === openedCategoryID ? 'accent' : ''"
        >
          {{ list.name }}
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      }
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-list>
      <mat-list-item matListItemTitle>
        <div class="title">
          <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>
              @if (snav.opened) { chevron_left } @else {chevron_right}
            </mat-icon>
          </button>
          <span>TASKS</span>
          <button
            [disabled]="!openedCategoryID"
            (click)="openCreateTaskDialog()"
            mat-mini-fab
            color="primary"
            aria-label="add list"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-list-item>

      @for (task of tasks | async; track task.id) {
      <tasks-task [task]="task"></tasks-task>
      }
    </mat-list>
  </mat-sidenav-content>
</mat-sidenav-container>
